# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider / VS Code
.vs/
*.csproj.user
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Crash/backup files
sysinfo.txt

# Addressables cache
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# IL2CPP generated
Il2CppOutputProject/

# Unity Packages lock (keep if you want deterministic deps)
# Packages/packages-lock.json

# Project-specific large assets (excluded from Git)
Assets/Custom/Rs-Map/
Assets/Custom/Rs-Map.meta
Assets/Samples/Scenes/StarterDungeon.unity
Assets/Samples/Scenes/StarterDungeon.unity.meta
Build.rar

# Project-specific large assets (excluded from Git)
Assets/Custom/Rs-Map/
Assets/Custom/Rs-Map.meta
Assets/Samples/Scenes/StarterDungeon.unity
Assets/Samples/Scenes/StarterDungeon.unity.meta
